:root {
    --navyblue: #7DF9FF;
    --white: #fff;
}

#alert_box {
    position: absolute;
    top: 30px;
    right: 10px;
    display: block;
}

.conatiner-fluid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    padding: 30px;
    /* height: 60%; */
    background-color: rgb(192, 201, 201);
}

.form-label {
    padding-left: 200px;
}

input {
    padding-left: 100px
}

.btn-outline-register {
    display: flex;
    justify-content: center;
    color: black;
    border-color: black;
    align-self: center;
}

.btn-outline-register:hover {
    color: var(--white);
    border: none;
    background: var(--navyblue);
}

.error {
    padding-bottom: 10px;
}

.error p {
    color: red;
    font-size: 12px;
    padding: 3;
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
    width: 100vw;
    height: 100vh;
}